* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", san-serif;
    --yellow: #fed100;
    --red: #ff352b;
    --white: #f2f2f2;
    --orange: rgba(255, 119, 43, 1);
    --black: #000;
    --orange2: #ff772b;
    --grey: #EBEBEB;
}

.banner__image__adapt img,
.banner__img__adapt img {
    display: none;
}

.image__menu {
    display: none;
}

.banner {
    position: relative;
    background-color: var(--yellow);
}

li {
    list-style-type: none;
}

.header__logo {
    font-size: 1.875rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--red);
}

.container {
    max-width: 82rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-top: 1rem;
}

.header__menu ul {
    display: flex;
    gap: 2rem;
}

.header__link {
    font-size: 1.125rem;
    font-weight: 500;
}

.tel a {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 600;
}

.banner__info {
    flex: 0 1 50%;
}

.banner__content {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
}

.banner__main__title {
    font-size: 4rem;
    margin-bottom: 0;
}

.banner__title p {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.main__button {
    background-color: var(--red);
    padding: 1rem 6rem;
    width: 18.25rem;
    height: 3.75rem;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    left: -10px;
    top: -10px;
}

.button__border {
    position: relative;
    width: 18.25rem;
    height: 3.75rem;
    margin: 0 0 2rem 0;
    border: 2px solid var(--white)
}

.main__button a {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}

button:hover {
    background-color: var(--orange2);
}

.banner__plus {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.banner__plus-item {
    display: flex;
    align-items: center;
}

.banner__plus p {
    font-size: 1rem;
    font-weight: 400;
}

.banner__plus-item img {
    margin-right: 0.5rem;
}

.banner__image {
    max-width: 32rem;
    margin: -4rem auto 0 auto;
    align-items: center;
}

.banner__image img {
    width: 100%;
}

.question {
    max-width: 69rem;
    margin: 0 auto;
}

.question h2 {
    font-size: 1.875rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 4.1rem;
}

.question__field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 1280px;
    margin: 0 auto 5rem auto;
}

.point {
    display: flex;
}

.point span {
    font-weight: 300;
    font-size: 3.125rem;
    margin-right: 2.5rem;
    text-shadow: 1.5px 1.5px var(--yellow);
}

.point h3 {
    font-weight: 500;
    font-size: 1.25rem;
}

.point p {
    font-weight: 400;
    font-size: 1rem;
}

.vector {
    display: none;
}

.price__container {
    max-width: 81.5rem;
    margin: 0 auto 3rem auto;
}

.price__head {
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: 600;
}

.another__price {
    display: none;
}

.price__fix {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.all__prices {
    display: flex;
    justify-content: space-between;

}

.price__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.price__card {
    max-width: 26rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 1.5rem;
    padding: 5.25rem 5.5rem 5rem 5.1rem;
    border: 1px solid var(--grey);
}

.price__card:hover {
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: 700;
    border: 1px solid var(--yellow);
}

.room {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.75rem;
}

.price__info p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

.price__appart {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 3.25rem;
}

.button__price {
    padding: 0.8rem 4.8rem;
    border: none;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
}

.button__price a {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--black);
}

.button__price:hover {
    box-shadow: 0px 4px 24px var(--yellow);
    color: var(--white);
    background-color: var(--yellow);
}

.button__price:hover a {
    color: var(--white);
}

.without__things {
    display: none;
}


@media (max-width: 1250px) {

    .all__prices {
        margin: 0 0 0 2rem;
    }

    .price__card,
    .price__card__second {
        max-width: 23rem;
    }

    .price__card,
    .price__card__second h4 {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .banner__image {
        margin: 4rem auto 0 auto;
    }

    .banner__plus {
        flex-wrap: wrap;
    }

    .room {
        font-size: 1.5rem;
        text-align: center;

    }

    .price__card,
    .price__card__second {
        max-width: 20rem;
        padding: 1rem 1.5rem;
    }
}

@media (max-width: 990px) {
    .tel {
        font-size: 1.2rem;
    }

    .banner__title {
        font-size: 3rem;
    }

    .banner__title p {
        font-size: 1.8rem;
    }

    .question__field {
        max-width: 900px;
    }

    .price__card,
    .price__card__second {
        max-width: 16rem;
        margin: 1rem;
    }

    .price__card__second {
        max-width: 16rem;
        margin: 1rem;
    }

    .price__card p,
    .price__card__second p {
        margin-bottom: 1rem;
    }

    .price__card__second {
        max-width: 16rem;
        margin: 1rem;
        padding: 1rem;
    }

    .room,
    .price__appart {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .button__price {
        max-width: 13rem;
    }
}

@media (max-width: 880px) {

    .price__card,
    .price__card__second {
        max-width: 16rem;
    }

    .question__field {
        margin: 2rem 1rem;
    }

    .price__fix {
        margin-bottom: 2rem;
    }

    .button__price {
        max-width: 11rem;
    }

    .price__info p {
        font-size: 0.8rem;
    }
}

@media (max-width: 850px) {
    .question__field {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .price__card,
    .price__card__second {
        max-width: 14rem;
    }

    .room,
    .price__appart {
        font-size: 1rem;
        padding: 1rem;
    }

    .price__appart {
        margin-top: 1rem;
    }

    .price__info p {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {

    nav,
    .tel {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .banner__plus {
        flex-wrap: nowrap;
    }

    .banner__info,
    .banner__content {
        display: flex;
        justify-content: center;
    }

    .banner__title {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .banner__plus {
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 3.75rem;
    }

    .header__logo {
        font-size: 2rem;
        padding-left: 2rem;
    }

    .image__menu {
        display: block;
    }

    .image__menu img {
        width: 5rem;
        padding: 0 1rem;
    }


    .banner__info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .banner__image img,
    .banner__image {
        display: none;
    }

    .banner__image__adapt img {
        display: flex;
        width: 17rem;
        margin-top: -3rem;
    }

    .button__border {
        position: relative;
        width: 24rem;
        height: 4.75rem;
        margin: 0 0 2rem 0;
        border: 2px solid var(--white)
    }

    .main__button {
        background-color: var(--red);
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        width: 24rem;
        height: 4.75rem;

    }

    .main__button a {
        font-weight: 600;
        font-size: 1.9rem;
    }

    .price__container {
        padding: 1rem;
        background-color: #F8FBFF;
    }

    .question {
        margin: 1rem;
    }

    .question__field {
        display: grid;
        grid-template-columns: minmax(100px, max-content);
        gap: 16px;
        margin: 0 auto;
    }


    .point {
        max-width: 90%;
        text-align: left;
        margin-left: 4rem;
    }

    .point span {
        font-size: 5.6rem;
        font-weight: 300;
    }

    .point p {

        margin-bottom: 2.4rem;
    }

    .price__card {
        max-width: 48rem;
        padding: 0 0.5rem;
        border: none;
    }

    .price__card:nth-child(odd) {
        display: none;
    }

    .room {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0;
    }

    .price__appart {
        font-size: 1.9rem;
        font-weight: 600;
        padding: 1.5rem;
    }

    .price__info p {
        font-size: 1.125rem;
        padding: 1rem;
    }

    .price__fix {
        padding: 0 7rem;
        text-align: center;
        margin-bottom: 0;
    }

    .another__price {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: underline;
        text-align: center;
    }

    .all__prices {
        margin: 0;
        padding: 0;
    }

    .button__price {
        text-align: center;
        padding: 1.25rem 7rem;
        margin-bottom: 1.2rem;
    }
}

@media (max-width: 500px) {
    .banner__main__title {
        font-size: 1.9rem;
    }

    .banner__title p {
        font-size: 1.4rem;
    }

    .header__logo {
        font-size: 1.2rem;
    }

    .banner__plus,
    .banner__plus p {
        display: none;
    }

    .main__button {
        width: 19rem;
        height: 4rem;
    }

    .question h2 {
        font-size: 1.4rem;

    }

    .point {
        margin: 1rem;
    }

    .main__button a {
        font-weight: 600;
        font-size: 1.7rem;
    }

    .button__border {
        width: 19rem;
        height: 4rem;
    }

    .price__fix {
        font-size: 1.3rem;
        padding: 0 4rem;
    }

    .point span {
        font-size: 4rem;
    }
}

@media (max-width: 365px) {

    .header__logo {
        font-size: 1rem;
        color: var(--black);
        padding-left: 2rem;
    }

    header {
        display: flex;
        height: 4rem;
    }

    .banner__main__title {
        font-size: 1.75rem;
    }

    .banner__title p {
        font-size: 1.2rem;
    }

    .banner__image__adapt img {
        display: block;
        width: 15.5rem;
        height: 24.75rem;
        margin-top: -3rem;
    }

    .main__button {
        font-size: 1.25rem;
        width: 18.25rem;
        height: 3.74rem;
    }

    .main__button a {
        font-size: 1.5rem;
    }

    .button__border {
        width: 18.25rem;
        height: 3.74rem;
    }

    .point {
        width: 100%;
        margin: 0.5rem;
        display: flex;
        justify-content: space-between;
    }

    .question__field {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .question h2 {
        margin-top: 3rem;
    }

    .vector {
        display: flex;
        align-items: center;
    }

    .different__point {
        width: 200px;
        text-align: left;
    }

    .things {
        display: none;
    }

    .without__things {
        display: block;
    }

    .point p {
        display: none;
    }

    .point span {
        font-size: 3.1rem;
        text-align: center;
        margin: 0 1rem 0 0;
    }

    .question {
        margin: 1rem;
    }

    .question h2 {
        font-size: 1.25rem;
    }

    .point h3 {
        font-size: 1rem;
    }

    .price__head {
        font-size: 1.25rem;
    }

    .all__prices {
        padding: 0;

        margin-top: -1rem;
    }

    .price__fix {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .room {
        font-size: 1.125rem;
    }


    .price__info {
        line-height: 1.5rem;
    }

    .price__info p {
        font-size: 1rem;
        padding: 0;
        line-height: 1.25rem;
    }

    .price__appart {
        font-size: 1.9rem;
        font-weight: 600;
    }

    .price__card:hover {
        box-shadow: none;
    }

    .price__card__second:hover {
        box-shadow: none;
    }
}

@media (max-width: 320px) {


    .banner__info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header {
        display: flex;
        height: 4rem;
    }

    .banner__main__title {
        font-size: 1.75rem;
    }

    .banner__title p {
        font-size: 1.125rem;
    }

    .main__button {
        font-size: 1.25rem;
    }

    .question {
        margin: 0 0.7rem 0.7rem;

    }

    .question__field {
        gap: 8px;
    }

    .another__price {
        font-size: 1rem;
    }

    .point h3 {
        font-size: 0.8rem;
    }
}