* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Montserrat", san-serif;
    --yellow: #fed100;
    --red: #ff352b;
    --white: #f2f2f2;
    --orange: rgba(255, 119, 43, 1);
    --black: #000;
    --orange2: #ff772b;
    --grey: #EBEBEB;
}

.banner_image_adapt img,
.banner_img_adapt img {
    display: none;
}

.image_menu {
    display: none;
}

.banner {
    position: relative;
    background-color: var(--yellow);
}

li {
    list-style-type: none;
}

.header_logo {
    font-size: 1.875rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    color: var(--red);
}

.container {
    max-width: 82rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding-top: 1rem;
}

.header_menu ul {
    display: flex;
    gap: 2rem;
}

.header_link {
    font-size: 1.125rem;
    font-weight: 500;
}

.tel a {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 600;
}

.banner_info {
    flex: 0 1 50%;
}

.banner_content {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
}

.banner_main_title {
    font-size: 4rem;
    margin-bottom: 0;
}

.banner_title p {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.main_button {
    background-color: var(--red);
    padding: 1rem 6rem;
    width: 18.25rem;
    height: 3.75rem;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    left: -10px;
    top: -10px;
}

.button_border {
    position: relative;
    width: 18.25rem;
    height: 3.75rem;
    margin: 0 0 2rem 0;
    border: 2px solid var(--white)
}

.main_button a {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}

button:hover {
    background-color: var(--orange2);
}

.banner_plus {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.banner__plus-item {
    display: flex;
    align-items: center;
}

.banner_plus p {
    font-size: 1rem;
    font-weight: 400;
}

.banner__plus-item img {
    margin-right: 0.5rem;
}

.banner_image {
    max-width: 32rem;
    margin: -4rem auto 0 auto;
    align-items: center;
}

.banner_image img {
    width: 100%;
}

.container_question {
    max-width: 69rem;
    margin: 0 auto;
}


.question {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.question h2 {
    font-size: 1.875rem;
    font-weight: 600;
}

.question_field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    max-width: 1280px;
    margin: 0 auto;
}

.point {
    display: flex;
}

.point span {
    font-weight: 300;
    font-size: 3.125rem;
    margin-right: 2.5rem;
    text-shadow: 1.5px 1.5px var(--yellow);
}

.point h3 {
    font-weight: 500;
    font-size: 1.25rem;
}

.point p {
    font-weight: 400;
    font-size: 1rem;
}

.vector {
    display: none;
}

.price_container {
    max-width: 1305px;
    margin: 0 auto;
}

.price_head {
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: 600;
}

.another__price {
    display: none;
}

.price__fix {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.all_prices {
    display: flex;
    justify-content: space-between;

}

.price_card {
    max-width: 26rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--grey);
    margin-right: 24px;

}

.price_card:hover {
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
    ;
    cursor: pointer;
    font-weight: 700;
}

.price_card:hover p {
    font-weight: 700;
}

.price_card_second:hover {
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
    ;
    cursor: pointer;
    font-weight: 700;
}

.price_card_second:hover p {
    font-weight: 700;
}


.price_card_second {
    max-width: 26rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--yellow);
    margin-right: 1.5rem;
}

.room {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem;
}

.price_info p {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
}

.price_appart {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: 600;
    padding: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.button_price {
    width: 15.6rem;
    height: 3.2rem;
    border: none;
    background-color: var(--yellow);
    justify-content: center;
}

.button_price a {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--black);
}

.button_price:hover {
    box-shadow: 0px 4px 24px var(--yellow);
    color: var(--white);
    background-color: var(--yellow);
}

.button_price:hover a {
    color: var(--white);
}

.without__things {
    display: none;
}




@media (max-width: 1200px) {
    .banner_image {
        margin: 4rem auto 0 auto;
    }

    .banner_plus {
        flex-wrap: wrap;
    }

    .room {
        font-size: 1.5rem;
        text-align: center;

    }

    .price_card,
    .price_card_second {
        padding: 0 2rem;
    }
}

@media (max-width: 990px) {
    .tel {
        font-size: 1.2rem;
    }

    .banner_title {
        font-size: 3rem;
    }

    .banner_title p {
        font-size: 1.8rem;
    }

    .question_field {
        max-width: 900px;
    }

    .price_card,
    .price_card_second {
        max-width: 17rem;
        margin: 1rem;
        padding: 0 1rem;
    }

    .room,
    .price_appart {
        font-size: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 880px) {

    .price_card,
    .price_card_second {
        max-width: 16rem;
    }

    .question_field {
        margin: 1rem;
    }
}

@media (max-width: 850px) {
    .question_field {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .price_card,
    .price_card_second {
        max-width: 14rem;
        padding: 1rem;
    }

    .room,
    .price_appart {
        font-size: 1rem;
        padding: 1rem;
    }

    .price_info p {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {

    nav,
    .tel {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .banner_plus {
        flex-wrap: nowrap;
    }

    .banner_info,
    .banner_content {
        display: flex;
        justify-content: center;
    }

    .banner_title {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .banner_plus {
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 3.75rem;
    }

    .header_logo {
        font-size: 2rem;
        padding-left: 2rem;
    }

    .image_menu {
        display: block;
    }

    .image_menu img {
        width: 5rem;
        padding: 0 1rem;
    }


    .banner_info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .banner_image img,
    .banner_image {
        display: none;
    }

    .banner_image_adapt img {
        display: flex;
        width: 17rem;
        margin-top: -3rem;
    }

    .button_border {
        position: relative;
        width: 24rem;
        height: 4.75rem;
        margin: 0 0 2rem 0;
        border: 2px solid var(--white)
    }

    .main_button {
        background-color: var(--red);
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        width: 24rem;
        height: 4.75rem;

    }

    .main_button a {
        font-weight: 600;
        font-size: 1.9rem;
    }

    .price_container {
        padding: 1rem;
        background-color: #F8FBFF;
    }

    .container_question {
        margin: 1rem;
    }

    .question_field {
        display: grid;
        grid-template-columns: minmax(100px, max-content);
        gap: 16px;
        margin: 0 auto;
    }


    .point {
        max-width: 90%;
        text-align: left;
        margin-left: 4rem;
    }

    .point span {
        font-size: 5.6rem;
        font-weight: 300;
    }

    .point p {

        margin-bottom: 2.4rem;
    }

    .price_card {
        display: none;
    }

    .price_card_second {
        max-width: 48rem;
        padding: 0 0.5rem;
        border: none;
    }

    .room {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 1.5rem;
    }

    .price_appart {
        font-size: 1.9rem;
        font-weight: 600;
        padding: 1.5rem;
    }

    .price_info p {
        font-size: 1.125rem;
        padding: 1rem;
    }

    .price__fix {
        padding: 0 7rem;
        text-align: center;
    }

    .another__price {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: underline;
        text-align: center;
    }

    .all_prices {
        padding: 2rem;
    }
}

@media (max-width: 500px) {
    .banner_main_title {
        font-size: 1.9rem;
    }

    .banner_title p {
        font-size: 1.4rem;
    }

    .header_logo {
        font-size: 1.2rem;
    }

    .banner_plus,
    .banner_plus p {
        display: none;
    }

    .main_button {
        width: 19rem;
        height: 4rem;
    }

    .question h2 {
        font-size: 1.4rem;

    }

    .point {
        margin: 1rem;
    }

    .main_button a {
        font-weight: 600;
        font-size: 1.7rem;
    }

    .button_border {
        width: 19rem;
        height: 4rem;
    }

    .price__fix {
        font-size: 1.3rem;
        padding: 0 4rem;
    }

    .point span {
        font-size: 4rem;
    }
}

@media (max-width: 365px) {

    .header_logo {
        font-size: 1rem;
        color: var(--black);
        padding-left: 2rem;
    }

    header {
        display: flex;
        height: 4rem;
    }

    .banner_main_title {
        font-size: 1.75rem;
    }

    .banner_title p {
        font-size: 1.2rem;
    }

    .banner_image_adapt img {
        display: block;
        width: 15.5rem;
        height: 24.75rem;
        margin-top: -3rem;
    }

    .main_button {
        font-size: 1.25rem;
        width: 18.25rem;
        height: 3.74rem;
    }

    .main_button a {
        font-size: 1.5rem;
    }

    .button_border {
        width: 18.25rem;
        height: 3.74rem;
    }

    .point {
        width: 100%;
        margin: 0.5rem;
        display: flex;
        justify-content: space-between;
    }

    .question_field {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .question {
        margin-top: 3rem;
    }

    .vector {
        display: flex;
        align-items: center;
    }

    .different__point {
        width: 200px;
        text-align: left;
    }

    .things {
        display: none;
    }

    .without__things {
        display: block;
    }

    .point p {
        display: none;
    }

    .point span {
        font-size: 3.1rem;
        text-align: center;
        margin: 0 1rem 0 0;
    }

    .container_question {
        margin: 1rem;
    }

    .question h2 {
        font-size: 1.25rem;
    }

    .point h3 {
        font-size: 1rem;
    }

    .price_head {
        font-size: 1.25rem;
    }

    .all_prices {
        padding: 0;

        margin-top: -1rem;
    }

    .price__fix {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .room {
        font-size: 1.125rem;
    }


    .price_info {
        line-height: 1.5rem;
    }

    .price_info p {
        font-size: 1rem;
        padding: 0;
    }

    .price_appart {
        font-size: 1.9rem;
        font-weight: 600;
    }

    .price_card:hover {
        box-shadow: none;
    }

    .price_card_second:hover {
        box-shadow: none;
    }
}

@media (max-width: 320px) {


    .banner_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header {
        display: flex;
        height: 4rem;
    }

    .banner_main_title {
        font-size: 1.75rem;
    }

    .banner_title p {
        font-size: 1.125rem;
    }

    .main_button {
        font-size: 1.25rem;
    }

    .container_question {
        margin: 0 0.7rem 0.7rem;

    }

    .question_field {
        gap: 8px;
    }

    .another__price {
        font-size: 1rem;
    }

    .point h3 {
        font-size: 0.8rem;
    }
}