* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: "Montserrat", san-serif;
	--yellow: #fed100;
	--red: #ff352b;
	--white: #f2f2f2;
	--orange: rgba(255, 119, 43, 1);
	--black: #000;
	--orange2: #ff772b;
    --grey: #EBEBEB;
}
.banner_image_adapt img {
    display: none;
}
.image_menu {
    display: none;
}
.banner {
    position: relative;
	background-color: var(--yellow);
}
/* .container {
    background-color: var(--yellow);
} */
li {
    list-style-type: none;
}
.header_logo {
    font-size: 1.875rem;
    font-weight: 600;
}
a {
	text-decoration: none;
	color: var(--black);
}
a:hover {
	color: var(--red);
}
.container {
    max-width: 82rem;
    margin: 0 auto;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    height: 4rem;
    padding-top: 1rem;
}
.header_menu ul {
	display: flex;
	gap: 2rem;
}
.header_link {
    font-size: 1.125rem;
    font-weight: 500;
}
.tel a {
    text-decoration: underline;
    font-size: 1.5rem;
    font-weight: 600;
}
.banner_info {
    flex: 0 1 50%;
}
.banner_content {
    display: flex;
    margin: 0 auto;
	padding: 0 1rem;
}
.banner_main_title {
 font-size: 4rem;
 margin-bottom: 0;
}
.banner_title p {
    font-size: 1.875rem;
    font-weight: 600;
}
button {
    background-color: #FF352B;
    position: relative;
    font-weight: 600;
    font-size: 1.5rem;
    width: 19rem;
    height: 3.75rem;
    border: none;
    z-index: 1;
    margin-top: 2rem;
}
button a {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}
button:hover {
    background-color: var(--orange2);
}
#rectangle {
    width: 19rem;
    height: 3.75rem;
    border: 0.125rem solid #F2F2F2;
    position: absolute;
    margin-top: -3rem;
    margin-left: 1.1rem;
}
.banner_plus {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.banner_plus p{
    font-size: 1rem;
    font-weight: 400;
}
.banner_image {
    max-width: 32rem;
    max-height: 39rem;
    margin: -4rem auto 0 auto ;
    align-items: center;
}
.banner_image img {
    width: 100%; 
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
	.banner_image {
		max-width: 28rem;
		margin: 0 auto;
	}
	.banner_plus {
		flex-wrap: wrap;
	}
}
@media (max-width: 990px) {
    .container {
        max-width: 750px;
    }
	.tel {
		font-size: 1.2rem;
	}
	.banner_title {
		font-size: 3rem;
	}
	.banner_title p {
		font-size: 1.8rem;
	}
    .banner_image {
		max-width: 17rem;
        max-height: 19rem;
		margin: 0 auto;
	}
} 
@media (max-width: 830px) {
	.banner_image {
		max-width: 15rem;
	}
} 

@media (max-width: 768px) {
    .container {
        max-width: none;
    }
    nav,
    .tel {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .banner_info {
        display: flex;
        justify-content: center;
    }
    .banner_content {
        display: flex;
        justify-content: center;
    }
    .main_button {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .banner_title {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .banner_plus {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin-bottom: 60px;
    }
    .header_logo {
        font-size: 2rem;
        padding-left: 2rem;
    } 
    .image_menu {
        display: block;
    }
    .image_menu img {
        width: 5rem;
        padding: 0 1rem;
    }
    .banner_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #rectangle {
        width: 383px;
        height: 76px;
        margin-top: 490px;
        margin-left: 40px;
    }
    .banner_image img{
        display: none;
    }
    .banner_image {
        display: none;
    }
    .banner_image_adapt img {
        display: block;
        width: 17rem;
        margin-left: -20rem;
        margin-top: 15rem;
    }
    button {
        background-color: #FF352B;
        font-weight: 600;
        font-size: 20px;
        margin-top: 370px;
        margin-bottom: 18px;
        width: 383px;
        height: 76px;
    }
    .main_button a {
        font-weight: 600px;
        font-size: 30px;
    }
}
@media (max-width: 365px) {
    .banner_image img {
        display: none;
    } 
    .header_logo {
        font-size: 16px;
        color: #333333;
        padding-left: 2rem;
    } 
header {
    display: flex;
    height: 64px;
}
.banner_main_title {
    font-size: 28px;
}
.banner_title p {
    font-size: 18px;
}
.tel{
    display: none;
}
#rectangle {
    display: none;
}
.banner_plus {
    display: none;
}
.banner_plus p {
    display: none;
}
.banner_info {
width: 100%;
}
nav {
    display: none;
}
.banner_image_adapt img {
    display: block;
    width: 15.5rem;
    height: 24.75rem;
    margin-left: -16.5rem;
    margin-top: 7rem;
}
button {
    background-color: #FF352B;
    font-weight: 600;
    font-size: 20px;
    margin-top: 370px;
    margin-bottom: 58px;
    width: 292px;
    height: 60px;
}
}

@media (max-width: 320px) {

    .header_logo {
        font-size: 16px;
        color: #333333;
        padding-left: 2rem;
    } 
    .banner_info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
header {
    display: flex;
    height: 64px;
}
.banner_main_title {
    font-size: 28px;
    margin-left: 65px;
}
.banner_title p {
    font-size: 18px;
}
.tel{
    display: none;
}
#rectangle {
    display: none;
}
.banner_plus {
    display: none;
}
.banner_plus p {
    display: none;
}
nav {
    position: fixed;
    display: none;
}
.banner_image_adapt img {
    display: block;
    width: 15.5rem;
    height: 24.75rem;
    margin-left: -16.5rem;
    margin-top: 7rem;
}
button {
    background-color: #FF352B;
    font-weight: 600;
    font-size: 20px;
    margin-top: 370px;
    margin-bottom: 58px;
    width: 292px;
    height: 60px;
    border: none;
}
}



